Gil_Gonzalez_Alvaro_LM_U1_T2/ex2.dtd

<!ELEMENT students (student+)>
<!ELEMENT student (name, address+, phone)>
<!ATTLIST student dni ID #REQUIRED>
<!ELEMENT name (#PCDATA)>
<!ELEMENT address (street, numbrer, city, province)>
<!ELEMENT street (#PCDATA)>
<!ELEMENT number (#PCDATA)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT province (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
